export TF_VAR_aws_access_key=XXXXXXXXXXXXXXXXXXXX
export TF_VAR_aws_secret_key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
export TF_VAR_aws_region=us-east-2

# Required by the Ruby on Rails application
export TF_VAR_rails_master_key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
export TF_VAR_rails_app_image=XXXXXX
export TF_VAR_dbpassword=XXXXXXXXXXX
